@model DBStoreSport.Models.RegisterViewModel

@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-lg-5">
    <div class="form-box">
        <h2>Đăng ký tài khoản</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="Username">Tên Đăng Nhập</label>
                <span class="input-icon"><i class="fa fa-user"></i></span>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Tên đăng nhập", autocomplete = "username" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <span class="input-icon"><i class="fa fa-envelope"></i></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autocomplete = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="Password">Mật Khẩu</label>
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu", autocomplete = "new-password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Xác Nhận Mật Khẩu</label>
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu", autocomplete = "new-password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="NameCus">Họ tên</label>
                <span class="input-icon"><i class="fa fa-user-circle"></i></span>
                @Html.TextBoxFor(m => m.NameCus, new { @class = "form-control", placeholder = "Họ tên" })
                @Html.ValidationMessageFor(m => m.NameCus, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="PhoneCus">Số điện thoại</label>
                <span class="input-icon"><i class="fa fa-phone"></i></span>
                @Html.TextBoxFor(m => m.PhoneCus, new { @class = "form-control", placeholder = "Số điện thoại" })
                @Html.ValidationMessageFor(m => m.PhoneCus, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Đăng ký</button>
            <a href="@Url.Action("Login", "Account")" class="btn-link">Đã có tài khoản? Đăng nhập</a>
        }
    </div>
</div>